<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/category/showlist"  class="alert">BACK</a>
<div align="center">
    <h2>CREATE CATEGORY</h2>
    <br>
    <p th:text="${validate}"></p>
    <form th:action="@{/category/create}" method="post" th:object="${category}">
        <label >Name: </label>
        <input type="text" th:field="*{nameCategory}" >&ensp;&ensp;
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>